@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  font-family: "Roboto-Regular", sans-serif;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background: $backgroundSecondary;
  color: $gray-600;
  box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  width: 0.8em;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: $gray-800;
}

/* Basic layout */
/* Asigne instrucciones de cuadrícula a nuestro contenedor de cuadrícula principal, móvil primero (oculte la navegación lateral) */
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 2rem;
  grid-template-areas: "header""main""footer";
}

.menu-icon {
  position: fixed;
  /* Debe permanecer visible para todos los desplazamientos móviles */
  display: flex;
  top: .5em;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  padding: 8px;
  margin-right: 10px;
}

.header__menu {
  font-size: 24px;
  display: block;
  margin-top: 3px;
  width: 1em;
  height: 1em;
  background: url(../icons/menu.svg) no-repeat;
}

.header__menu:active {
  transform: scale(0.8);
}

.header__search {
  margin-left: 2em;
}

/* A cada elemento secundario su nombre de cuadrículae */
.header {
  grid-area: header;
  /* background: rgb(21, 34, 71);
  background: linear-gradient(90deg,
      rgba(21, 34, 71, 1) 0%,
      rgba(152, 22, 22, 1) 100%); */
  background: $primary;
  color: $white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  height: 100%;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 30%);
}

/* Haz espacio para el icono del menú en el móvil */
.header__avatar {
  display: none;
}

.sidenav {
  grid-area: sidenav;
  background-color: $backgroundPrimary;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: all 0.6s ease-in-out;
  z-index: 2;
  /* Necesita sentarse encima del ícono del menú de hamburguesas */
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav-active {
  transform: translateX(0);
}

.sidenav__close-icon {
  position: absolute;
  color: #ddd;
  visibility: visible;
  top: 0.8em;
  right: 0.8em;
  cursor: pointer;
  font-size: 20px;
}

.sidenav__brand-close {
  font-size: 16px;
  display: block;
  width: 1em;
  height: 1em;
  background: url(../icons/close.svg) no-repeat;
}

.sidenav__brand-close:active {
  transform: scale(0.8);
}

.main {
  grid-area: main;
  height: 100%;
}

.main-header {
  display: flex;
  background-color: $white;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  color: slategray;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  /* auto-fit llena el espacio restanmte por si huiera
   y el minmax pone un valor entre dos rangos proporcionados en este caso un minimo de 265 y un maximo de una fraccion */
  grid-auto-rows: auto;
  grid-gap: 20px;
  margin: 20px;
}

.main-overview-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35em, 1fr));
  /* auto-fit llena el espacio restanmte por si huiera
   y el minmax pone un valor entre dos rangos proporcionados en este caso un minimo de 265 y un maximo de una fraccion */
  grid-auto-rows: auto;
  grid-gap: 20px;
  margin: 20px;
}

.overviewcard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: $white;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}

.card {
  background-color: $white;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
  /* investigar que hace esta onda???? */
}

.footer {
  grid-area: footer;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  background: $backgroundSecondary;
  height: 100%;
}

.footer__copyright,
.footer__signature {
  width: 50%;
  padding: 0.2em;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.main-overview-select {
  margin: 0.8em;
  width: 94% !important;
}

/* Estilos no móviles, punto de interrupción de 7680 px */
@media only screen and (min-width: 768px) {

  /* Mostrar la navegación lateral */
  .grid-container {
    grid-template-columns: 15rem 1fr;
    grid-template-areas: "sidenav header""sidenav main""sidenav footer";
  }

  .header {
    position: relative;
    /* overflow-y: auto;  */
  }

  .header__search {
    margin-left: 0;
  }

  .avart-example {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../icons/user-me.svg) no-repeat;
    filter: nvert(100%) sepia(0%) saturate(4295%) hue-rotate(150deg) brightness(122%) contrast(104%);
  }

  .menu-icon {
    display: none;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 40%);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }

  .footer {
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background: $backgroundSecondary;
    height: 100%;
  }

  .footer__copyright {
    text-align: start;
  }

  .footer__signature {
    text-align: end;
  }

  .main-overview-select {
    width: 50% !important;
  }
}

.card-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-logo-ipea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh
}

.logo-ipea {
  width: 30rem;
}

/* Punto de interrupción de pantallas medianas (1050px) */
@media only screen and (min-width: 65.625) {

  /* Divide las main cards en dos columnas */
  .main-cards {
    column-count: 2;
  }
}