<header class="header">
  <div class="header__search">Search...</div>
  <div class="contienr-header-dropdown">
    <button class="nav-link text-sm header-avatar" (click)="onClick()">
      <i class="icon-md user center-icon"></i>
    </button>

    <!-- [@openCloseDropDown]="openDropDown ? true : false"  -->
      <div [@openCloseDropDown]="openDropDown ? true : false" class="header-dropdown">
        <ul class="menu-dropdown">
          <li><a class="nav-link text-sm" href="#">Hola</a></li>
          <li><a class="nav-link text-sm" href="#">Hola</a></li>
          <li><a class="nav-link text-sm" href="#">Hola</a></li>
        </ul>
      </div>
    
  </div>

</header>