<header class="header">
  <!-- <div class="header__search">Search...</div> -->
  <div class="contienr-header-dropdown">
    <div class="user-profile">
      <Label class="name-profile">{{userName}}</Label>
      <button class="btn p-0" [matMenuTriggerFor]="menu">
        <img class="profile" [src]="pictureUser" alt="profile">
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onClickSelect(1)">         
          <span>Cambiar cotraseña</span>
        </button>
        <button mat-menu-item (click)="onClickSelect(2)">         
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </div>
  </div>

</header>