<div class="grid-container-auth">
    <header class="container-header-login">
        <div>logo</div>
        <div>
            <nav>
                <ul>
                    <li>Inico</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container-login">
        <!-- <app-header></app-header> -->
        <form [formGroup]="formResetPassword" (ngSubmit)="onResetPass()" errorTailor class="card-login">
            <div class="container-form-login">
                <div class="form-control">
                    <p>Iniciar sesión</p>
                </div>
                <div class="form-group">
                    <label class="label-form" for="pass">Nueva contraseña:</label>
                    <input class="input-form" type="password" placeholder="Ingrese su nueva contraseña"
                        formControlName="newPassword" controlErrorsClass="danger" autofocus>
                </div>
                <div class="form-group">
                    <label class="label-form" for="pass">Confirmar contraseña:</label>
                    <input class="input-form" type="password" placeholder="Confirme su nueva contraseña"
                        formControlName="confirmPassword" controlErrorsClass="danger">
                </div>                
                <div class="form-control">
                    <button class="btn btn-primary wh-50" type="submit">Enviar</button>
                </div>
                <div class="form-control">
                    <a routerLink="/auth/login">Iniciar sesión</a>
                </div>
            </div>
        </form>
    </div>

</div>

<ng-template let-error let-text="text" #errorEmail> <label for="email" class="danger">{{text}}</label> </ng-template>