<div class="main-wrapper">
    <div class="container-header-aside">
        <aside>
            <app-sidebar></app-sidebar>
        </aside>

        <div class="container-pages">
            <div>
                <header class="header__wrapper">
                    <app-header></app-header>
                </header>
            </div>
            <div class="page-wrapper">
                <!-- Container fluid -->
                <div class="container-fluid">
                   
              
                </div>
               <div class="clear"></div>
                <footer class="footer">
                    Desing by❤️: Oscar Chanax <a class="button-link" href="https://github.com/lex-art"
                        target="_blank">My
                        Git
                        Hub</a>
                </footer>
                <!-- End footer -->
            </div>
        </div>
    </div>


</div>