.grid-container-auth {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas: "header-login" "card-login";
  height: 100vh;
}
.container-header-login {
  grid-area: header-login;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-login {
  grid-area: card-login;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.card-login {
  background-color: #ececec;
  width: 100%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 5px 1px 10px rgb(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form-login {
  width: 100%;
  padding: 0 10px;
}

.form-control-input {
  display: block;
  color: #464545;
  padding: 10px;
}
.label-form {
  width: 100%;
  font-weight: 300;
}
.input-form {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 10px 0 0;
  height: 30px;
  border: solid 1px #9c9c9c;
  border-radius: 4px;
  padding: 0 8px;
  outline: none;
}
.input-form:focus-visible {
  border: solid 1px brown;
}
.form-control{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-form {
  width: 30%;
  height: 30px;
  border-radius: 4px;
  border: solid 1px rgb(78, 152, 221);
}
.button-form:hover {
  cursor: pointer;
  background-color: rgb(161, 214, 245);
}
@media only screen and (min-width: 750px) {
  .card-login {
    width: 450px !important ;
    height: 50% !important;
  }
  .container-header-login {
    padding: 0 200px;
  }
}
