.container-logo {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  border-right: 1px solid rgba($color: $gray-500, $alpha: 0.5);
  border-bottom: 1px solid rgba($color: $gray-500, $alpha: 0.5);
}
.logo-app{
  width: 200px;
  max-width: 70%;
  max-height: auto;
  margin: 0 auto;
}
.sidenav-list {
  margin-top: 0.5rem;
}
.list-menu {
  width: 100%;
  padding: 0;
}
.list-menu-item {
  width: 100%;
  overflow: hidden;
}
.list-menu-btn {
  display: flex;
  color: $white;
  flex-flow: row wrap;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  height: 3em;
}
.arrow-contain {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;
}

.nav-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
  color: $white; 

}
.active-link{
  background-color:  rgba($color: $secondary, $alpha: 0.50);
}
.list-sub-item {
  background-color: $primary;
  list-style: none;
  padding: 0 0 0 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.list-inside {
  margin-left: 1.8em; ;
  border-left: 2px solid $white;
  a {
    width: 100%;
    height: auto;
    padding: .8em;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    .icon {
      margin: 0 .2em 0 0 !important;
    }
  }
}
.list-menu-btn:hover, .list-inside a:hover {
  background-color: rgba($color: $secondary, $alpha: 0.95);
  color: $white;
  opacity: 0.9;
}
.title-nav-link {
  margin: 0.2em;
}
