.container-logo {
  max-width: 100%;
  text-align: center;
  border-right: 1px solid rgba($color: $gray-500, $alpha: 0.5);
  border-bottom: 1px solid rgba($color: $gray-500, $alpha: 0.5);
  a {
    img {
      visibility: hidden;
      display: block;
    }
  }
  height: 3em;
}

.logo-app {
  width: 200px;
  max-width: 70%;
  max-height: auto;
  margin: 0 auto;
}
.active-link {
  background-color: rgba($color: $secondary, $alpha: 0.50);
}

.list-menu {
  width: 100%;
  height: auto;
  padding-inline-start: 0px !important;
  list-style-type: none;
}

.list-menu-item,
.list-menu-item-small {
  display: block;
  overflow: hidden;
  a {
    display: flex;
    align-items: center;
    height: 3rem;
    padding: .5rem 0 .5rem 1rem;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
  };
  a:hover {
    background-color: rgba($color: $secondary, $alpha: 0.95);
    color: $white;
    opacity: 0.9;
  }
  span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 1rem 0 .4rem;
    color: white;
  }
}

.list-menu-item {
  width: 100%;
  span {
    animation: custom-animation-fade-in-left .5s ease-in-out;
  }
}

.list-menu-item-small {
  span {
    display: none;
    visibility: hidden;
  }
}

.list-sub-item, .list-sub-item-small{
  background-color: $primary;
  list-style: none;
  padding: .3rem 0 .3rem .0;
  a {
    padding: 0 0 0 1rem !important;

  };
}

.list-sub-item{
  li{
    margin-left: 1rem;
    border-left: 2px solid $white;
    transition: all  .5s;
  }
}

.list-sub-item-small {
  li{
    margin-left: 0 !important;
    border-left: none;
    transition: all  .5s;
  }
}

.visibility-text{
  span {
    display: flex !important;
    visibility: visible !important;
  }
}

@keyframes custom-animation-fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
