<li [ngClass]="{'list-menu-item': !(isMenuSmall | async) , 'list-menu-item-small': isMenuSmall | async, 'visibility-text': isMenuiIconVisible | async }"
    *appMenuByRoleDirective="routeSidebar?.role">
    <a [routerLink]="routeSidebar?.route" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
        (click)="routeSidebar?.subMenu ? openSubMenu() : redirectLink(routeSidebar?.route)">
        <i class="{{routeSidebar?.icon}}"></i>
        <span>{{routeSidebar?.text}} <i class="arrow-down" *ngIf="routeSidebar?.subMenu"></i></span>
    </a>
    <div [@openClose]="isOpen ? true : false" *ngIf="routeSidebar?.subMenu">
        <ul [ngClass]="{'list-sub-item': !(isMenuSmall | async), 'list-sub-item-small': isMenuSmall | async}">
            <ng-container *ngFor="let subItem of routeSidebar?.subMenu">
                <li *appMenuByRoleDirective="subItem.role">
                    <a class="text-sm" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link"
                        (click)="redirecSubMenu()" [routerLink]="subItem?.route">
                        <i class="{{subItem?.icon + ' icon-sm'}}"></i>
                        <span >{{subItem?.text}}</span>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</li>
